// Placeholders
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Utilities
//////////////////////////////////////////////////////

$flexCenter
  display flex
  align-items center
  justify-content center

// Ellipsis to long string
$lineOverflow
  display block
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

// Защита для больших блоков текста, например в гридах
$longLettersProtection
  -ms-word-break break-all
  word-break break-all
  word-break break-word
  -webkit-hyphens auto
  -moz-hyphens auto
  -ms-hyphens auto
  hyphens auto


// DS Shadows
//////////////////////////////////////////////////////

$bigShadow
  $x = 0px
  $y = 8px
  $b = 32px

  box-shadow $x $y $b 0px $colors.hamilton
  box-shadow $x $y $b 0px var(--hamilton)

  &:hover
    box-shadow $x $y $b 0px $colors.hamiltonHover
    box-shadow $x $y $b 0px var(--hamiltonHover)

  &:active
    box-shadow $x $y $b 0px $colors.hamiltonPressed
    box-shadow $x $y $b 0px var(--hamiltonPressed)


$mediumShadow
  $x = 0px
  $y = 4px
  $b = 16px

  box-shadow $x $y $b 0px $colors.hamilton
  box-shadow $x $y $b 0px var(--hamilton)

  &:hover
    box-shadow $x $y $b 0px $colors.hamiltonHover
    box-shadow $x $y $b 0px var(--hamiltonHover)

  &:active
    box-shadow $x $y $b 0px $colors.hamiltonPressed
    box-shadow $x $y $b 0px var(--hamiltonPressed)


$zelipeaShadow
  $x = 0px
  $y = 2px
  $b = 8px

  box-shadow $x $y $b 0px $colors.rockyOpacity
  box-shadow $x $y $b 0px var(--rockyOpacity)


$kalypiseShadow
  $x = 0px
  $y = 2px
  $b = 8px

  box-shadow $x $y $b 0px $colors.matrixOpacity
  box-shadow $x $y $b 0px var(--matrixOpacity)


$ambrosiaShadow
  $x = 0px
  $y = 2px
  $b = 8px

  box-shadow $x $y $b 0px $colors.lebowskiOpacity
  box-shadow $x $y $b 0px var(--lebowskiOpacity)


$meilitaeShadow
  $x = 0px
  $y = 2px
  $b = 8px

  box-shadow $x $y $b 0px $colors.fargoOpacity
  box-shadow $x $y $b 0px var(--fargoOpacity)


$asteriaShadow
  $x = 0px
  $y = 2px
  $b = 8px

  box-shadow $x $y $b 0px $colors.gentelmenOpacity
  box-shadow $x $y $b 0px var(--gentelmenOpacity)


$menodiceShadow
  $x = 0px
  $y = 2px
  $b = 8px

  box-shadow $x $y $b 0px $colors.metropolisOpacity
  box-shadow $x $y $b 0px var(--metropolisOpacity)


$pontoporeiaShadow
  $x = 0px
  $y = 2px
  $b = 8px

  box-shadow $x $y $b 0px $colors.fightclubOpacity
  box-shadow $x $y $b 0px var(--fightclubOpacity)


$plephioneShadow
  $x = 0px
  $y = 2px
  $b = 8px

  box-shadow $x $y $b 0px $colors.aquamanOpacity
  box-shadow $x $y $b 0px var(--aquamanOpacity)


$leuciphiaShadow
  $x = 0px
  $y = 2px
  $b = 8px

  box-shadow $x $y $b 0px $colors.goodfellasOpacity
  box-shadow $x $y $b 0px var(--goodfellasOpacity)


$creasiShadow
  $x = 0px
  $y = 0px
  $b = 0px

  box-shadow $x $y $b 4px $colors.avengers
  box-shadow $x $y $b 4px var(--avengers )


// DS Elements
//////////////////////////////////////////////////////

// Кнопка
$button
  user-select none
  cursor pointer
  border none
  text-decoration none
  white-space nowrap
  outline none
  box-shadow none
  text-align center

  &--primary
    background $colors.rocky
    background var(--rocky)
    color $colors.white
    color var(--white)

    &:hover
      background $colors.rockyHover
      background var(--rockyHover)

    &:active
      background $colors.rockyPressed
      background var(--rockyPressed)

  &--secondary
    background $colors.avengers
    background var(--avengers)
    color $colors.rocky
    color var(--rocky)

    &:hover
      background $colors.avengersHover
      background var(--avengersHover)

    &:active
      background $colors.avengersPressed
      background var(--avengersPressed)

  &--light
    @extend $mediumShadow
    background $colors.amelie
    background var(--amelie)
    color $colors.rocky
    color var(--rocky)

    &:hover
      color $colors.rockyHover
      color var(--rockyHover)

    &:active
      color $colors.rockyPressed
      color var(--rockyPressed)

  &--disabled
    pointer-events none
    cursor default
    opacity $opacites.biqe

$control__control
  width 100%
  height 40px
  appearance none
  -webkit-appearance inherit
  transition all $effects.duration
  padding 2px 16px
  border none
  border-radius $border-radiuses.bana
  $text("sulguni")

$control__control--default
  color $colors.troy
  color var(--troy)
  background $colors.django
  background var(--django)

$control__control--map
  @extend $mediumShadow
  color $colors.harakiri
  color var(--harakiri)
  background $colors.amelie
  background var(--amelie)

$control__placeholder
  @extend $lineOverflow
  max-width calc(100% - 32px)
  position absolute
  top 10px
  left 16px
  color $colors.metropolis
  color var(--metropolis)
  transition all $effects.duration
  pointer-events none
  $opacity("qarta")
  $text("sulguni")

$control__wrapper--map
  &:active,
  &--focus
    .control__control
      box-shadow 0 4px 16px 0px $colors.hamiltonPressed
      box-shadow 0 4px 16px 0px var(--hamiltonPressed)

$control__wrapper
  position relative
  width 100%
  height 40px

  &:hover
    .control__placeholder
      color $colors.troy
      color var(--troy)

  &:active,
  &--focus
    .control__control
      padding-top 18px

    .control__placeholder
      color $colors.troy
      color var(--troy)
      top 2px
      $text("briscola")

$check
  &__label
    width 100%
    display flex
    align-items flex-start
    cursor pointer

    &:hover
      .checkbox__border-inner
        @extend $creasiShadow
        border 2px solid $colors.dangalHover
        border 2px solid var(--dangalHover)

      .checkbox__text
        color $colors.harakiri
        color var(--harakiri)

    &:active
      .checkbox__text
        color $colors.harakiri
        color var(--harakiri)

    &--checked
      .checkbox__image
        background: url("../../../assets/svg/ok.svg") $colors.rocky no-repeat center 2px;
        background: url("../../../assets/svg/ok.svg") var(--rocky) no-repeat center 2px;

  &__wrapper
    width 100%
    display flex
    margin-bottom 20px

  &__input
    visibility hidden
    position absolute
    pointer-events none

  &__image
    width 16px
    height 16px
    border-radius $border-radiuses.rajol

  &__border
    @extend $flexCenter
    position relative
    width 24px
    height 24px
    margin-right 8px
    cursor pointer

  &__border-inner
    position absolute
    left 4px
    right 4px
    top 4px
    bottom 4px
    width 16px
    height 16px
    border 2px solid $colors.dangal
    border 2px solid var(--dangal)
    border-radius $border-radiuses.rajol

  &__text
    white-space nowrap
    padding-top 4px
    $text("sulguni")
    $opacity("ekas")